# dependency folders
server/node_modules/

# build outputs
dist/
build/

# logs
*.log

# environment configs
.env

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# package locks (optional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
